@media screen and (max-width:800px){

    header{
        height: 70vh;
    }

    header::before {
         margin-bottom: 0px;
    }
    nav{
    height: 0px;
    }
    .nav{
        height: 40px;
    }
   .nav .logo{
       height: 35px;
   }

   .text-header>h1 {
    font-size: 40px;
    color: aqua;
    padding: 5px;
    }
    .copy{
    font-size: 10px;
     text-align: center;
    }

    .content-header a{
        margin-left: 100px;
        width: 95px;
        height: 25px;
        text-align: center;
        font-size: 11px;
        align-items: center;
        align-content: center;
        padding-bottom: 20px;
    
    }

    .another-container{
        padding: 20px 0;
    }
    .title{
        font-size: 30px;
    }
   
    .container-francia{
        margin-top:20px;
    }

    .paris{
       
        padding: 30px 15px 15px 15px;
        height: 30%;
        
    }
    .paris>img{
        height: 73px;
    }
    .paris>h3{
        margin-top: 15px;
        font-size: 18px;
    }
    .paris>p{
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: -5px;
    }
    .nigth>img{
        object-fit: cover;
        width: 150px;
        height: 280px;
        margin-top: 75px;
    }
    .tours{
        padding: 10px;
        background: #ececf326;
    
    }

    .tours p{
        font-size: 11px;
        color: black;
        font-weight: bold;
        padding-bottom: 6px;
    }
    
    .tours-paris{
        font-size: 11px;
        padding-bottom: 2px;
    }

    .nigth {
        height: 480px;
    }
    .text-nigth p{
        font-size: 11px;
    }
    .text-nigth a{
        width: 100px;
        height: 5px;
        text-align: center;
        
        font-size: 11px;
        padding: 13px;
        padding-bottom: 20px;
    }
    .price{
        padding-top: 10px;
        height: 350px;
    }

    .number{
        height: 15px;
    }
    .nubers{
        height: 0px;
    }
    .numbers .number{
        height: 100px;
        padding: 15px 15px;
    }
   

    .price-text h4{
        font-size: 15px;
    }
    h5{
        font-size: 11px;
    }
    .price-text p{
        font-size: 6px;
        margin: 10px 0;

    }
    .price-text a{
    width: 50px;
    height: 10px;
    font-size: 10px;
    
    padding-bottom: 15px;
    padding-top: 5px;
    }
    footer{
        height: 210px;
        padding-top: 15px;
    }
    .content-footer #img-footer {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 200px;
        margin-top: 40px;
    }

    .content-footer h4{
        font-size: 11px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .content-footer a{
        font-size: 11px;
        margin-bottom: 5px;
    }
    .social-media i{
        width: 15px;
       height: 15px;
       align-content: center;
    border: 1px solid #44c340
    }
} 
